---
// Imports layout for the projects page

import Layout from '../layouts/Layout.astro';

import DarkMode from "../components/projects/DarkModeWidgetProjects.astro"

import { Image } from 'astro:assets';
import archiveVersionOneScreenshot from '../assets/projects/archive-v1-screenshot.png';
import archiveVersionTwoScreenshot from '../assets/projects/archive-v2-screenshot.png';
import archiveVersionThreeScreenshot from '../assets/projects/archive-v3-screenshot.jpg';
import corgevityVersionOneScreenshot from '../assets/projects/corgevity-v1-screenshot.png';
import swzservicesScreenshot from '../assets/projects/swzservice-screenshot.png';
import rmWallpaperMgmrScreenshot from '../assets/projects/rm-wallpaper-mgmr-screenshot.png';
---

<!-- BEGINS FORMATTED SECTION -->
<Layout title="Amber Caravalho - Projects" language="en" description="Check out some of my personal projects that reflect my ingenuity and creativity.">
	<main class="flex flex-col m-5">
    <section class="grid max-w-screen-lg lg:grid-cols-4 md:grid-cols-4 grid-cols-2 gap-2 md:gap-4 my-5 mx-auto lg:px-20">
      
<!-- About Projects Widget -->
<article class="bg-white dark:bg-[#0D1116] dark:text-white relative border-2 dark:border-[#30363D] lg:col-span-3 md:col-span-3 col-span-2 aspect-auto md:row-span-2 rounded-3xl overflow-hidden p-4 transition duration-300 delay-75 ease-in-out"> 
  <div class="md:w-8/12 p-2 md:px-8 md:py-4 flex flex-col justify-start md:justify-end">
    <div class="flex flex-col md:gap-1 lg:gap-2">
      <h1 class="text-2xl font-bold md:text-2xl lg:text-3xl">Always a WIP...</h1>
      <h2 class="text-blue-500 text-5xl font-bold lg:text-7xl">Projects</h2>
    </div>
  </div>
  <p class="px-2 md:px-8 text-lg lg:text-xl">I'm just a silly, funny gal who loves exploring new web technologies and experimenting with design. 😜</p>
</article>

<!-- Back Button Widget -->
<a href="/" class="bg-green-300 border-2 dark:border-[#30363D] dark:bg-green-400 text-white flex flex-col justify-center items-center rounded-2xl relative col-span-1 lg:h-32 h-28 text-center p-4 lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out">
  <div class="sm:scale-175">
    <svg xmlns="http://www.w3.org/2000/svg"  class="inline-flex w-14 md:w-10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
      <path d="M9.00002 15.3802H13.92C15.62 15.3802 17 14.0002 17 12.3002C17 10.6002 15.62 9.22021 13.92 9.22021H7.15002" stroke="#292D32" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path> 
      <path d="M8.57 10.7701L7 9.19012L8.57 7.62012" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
</a>

<!-- Dark Mode Widget -->
<DarkMode/>

<!-- Navigation -->
<section class="flex flex-col relative justify-center text-center items-center p-4 border-2 dark:border-[#30363D] rounded-2xl bg-orange-200 dark:bg-orange-300 text-black text-2xl lg:text-3xl nav-links w-full aspect-auto h-28 lg:col-span-4 md:col-span-4 col-span-2">
  <p class="flex bold gap-8 hidden sm:block">
    <a href="#featured" class="hover:font-bold">Featured⠀</a>
    <a href="#fun" class="hover:font-bold">Fun Projects⠀</a>
    <a href="#business" class="hover:font-bold">Web Design⠀</a>
    <a href="#personal" class="hover:font-bold">Personal Sites</a>
  </p>
  <p class="flex bold underline gap-4 md:hidden lg:hidden">
    <a href="#featured" class="hover:font-bold">Featured</a>
    <a href="#fun" class="hover:font-bold">Fun Projects</a>
  </p>
  <p class="flex bold underline gap-4 md:hidden lg:hidden">
    <a href="#business" class="hover:font-bold">Web Design</a>
    <a href="#personal" class="hover:font-bold">Personal Sites</a>
  </p>
</section>

<!-- FEATURED -->
<section class="flex flex-col relative rounded-2xl border-2 dark:border-[#30363D] text-black dark:text-white nav-links w-full aspect-auto bg-white dark:bg-[#0D1116] -z-0 lg:col-span-4 md:col-span-4 col-span-2 gap-2 md:gap-4 p-4">
  <h1 class="text-center bold text-3xl lg:text-4xl" id="featured">✨ Featured ✨</h1>

<!-- SNAIWY Log Visualizer Studio -->
<a href="https://snaiwy.ambercaravalho.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center bottom-0 left-0 -z-10" style="color:transparent" src="/assets/projects/snaiwy-gif.gif" alt="Project 10">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Log Visualizer Studio</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">SNAIWY's MVP, a tool to transform log data into insights; built with OpenAI ChatGPT.</p>
  </div>
</a>

<!-- POGPT Suite -->
<a href="https://pogpt.ambercaravalho.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center bottom-0 left-0 -z-10" style="color:transparent" src="/assets/projects/pogpt-gif.gif" alt="Project 10">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">POGPT Suite</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">POGPT's MVP, a portable or classified LLM solution; built with Open WebUI and Ollama.</p>
  </div>
</a>

<!-- Project Exodus -->
<a href="https://bravoexodus.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" style="color:transparent" src="/assets/projects/exodus-gif.gif" alt="Project 5">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Project Exodus</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">Project Exodus's MVP, a human capital management solution; built with Docker and Superset.</p>
  </div>
</a>
</section>

<!-- FUN PROJECTS -->
<section class="flex flex-col relative rounded-2xl border-2 dark:border-[#30363D] text-black dark:text-white nav-links w-full aspect-auto bg-white dark:bg-[#0D1116] -z-0 lg:col-span-4 md:col-span-4 col-span-2 gap-2 md:gap-4 p-4">
  <h1 class="text-center bold text-3xl lg:text-4xl" id="fun">🎆 Fun Projects 🎆</h1>

<!-- reMarkable Wallpaper Manager -->
<a href="https://github.com/ambercaravalho/rM-Wallpaper-Manager" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={rmWallpaperMgmrScreenshot} alt="reMarkable Wallpaper Manager" class="absolute object-cover object-center md:object-[center_-70px] lg:object-[center_-70px] -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">rM Wallpaper Manager</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">A tool to help anyone install and manage wallpapers and splash screen on their reMarkable tablet.</p>
  </div>
</a>

<!-- drand PassGen -->
<a href="https://passgen.ambercaravalho.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000050] absolute">
    <img loading="lazy" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" style="color:transparent" src="/assets/projects/passgen-gif.gif" alt="Project 13">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">drand PassGen</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">A truly random password generator to produce unpredictable passwords; built with JavaScript.</p>
  </div>
</a>

<!-- WebGL Experiments -->
<a href="https://webgl.ambercaravalho.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000050] absolute">
    <img loading="lazy" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" style="color:transparent" src="/assets/projects/webgl-gif.gif" alt="Project 12">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">WebGL Experiments</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">Messing around (and learning) with WebGL technologies in the browser; built with Three.js and Ammo.js.</p>
  </div>
</a>

<!-- Open Author Clock -->
<a href="https://clock.ambercaravalho.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" style="color:transparent" src="/assets/projects/authorclock-gif.gif" alt="Project 11">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Open Author Clock</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">A personal project to bring literary quotes to every minute of the day; built with HTML and JavaScript.</p>
  </div>
</a>

<!-- JBLE Cyber Games -->
<a href="https://jblecybergames.ambercaravalho.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center bottom-0 left-0 -z-10" style="color:transparent" src="/assets/projects/jblecybergames-gif.gif" alt="Project 7">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">JBLE Cyber Games CTF</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">The JBLE Cyber Games CTF site, built to promote the event; designed in WordPress.</p>
  </div>
</a>
</section>

<!-- BUSINESS WEB DESIGN -->
<section class="flex flex-col relative rounded-2xl border-2 dark:border-[#30363D] text-black dark:text-white nav-links w-full aspect-auto bg-white dark:bg-[#0D1116] -z-0 lg:col-span-4 md:col-span-4 col-span-2 gap-2 md:gap-4 p-4">
  <h1 class="text-center bold text-3xl lg:text-4xl" id="business">🏙️ Web Design 🏙️</h1>

<!-- Corgevity [v2] -->
<a href="https://corgevity.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center bottom-0 w-full -z-10" style="color:transparent" src="/assets/projects/corgevity-v2-gif.gif" alt="Project 9">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Corgevity [v2]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">Corgevity's second corporate site, built to promote cybersecurity; designed in WordPress.</p>
  </div>
</a>

<!-- MaryMotivates -->
<a href="https://web.archive.org/web/20210622024457/https://marymotivates.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" style="color:transparent" src="/assets/projects/marymotivates-gif.gif" alt="Project 3">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">MaryMotivates</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">Major revisions to the MaryMotivates site, better empowering local youth; designed in WordPress.</p>
  </div>
</a>

<!-- SWZ Service -->
<a href="http://www.services4fitnessequipment.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={swzservicesScreenshot} alt="Project 2" class="absolute object-cover object-center md:object-[center_-70px] lg:object-[center_-70px] -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">SWZ Service</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">SWZ Service's rebuilt corporate site, promoting their equipment repair offerings; designed in Weebly.</p>
  </div>
</a>

<!-- Corgevity [v1] -->
<a href="https://web.archive.org/web/20211130110338/corgevity.com" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 lg:col-span-4 md:col-span-4 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={corgevityVersionOneScreenshot} alt="Project 1" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Corgevity [v1]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">Corgevity's first corporate site, built to promote cybersecurity; designed in GoDaddy's builder.</p>
  </div>
</a>
</section>

<!-- PERSONAL SITES -->
<section class="flex flex-col relative rounded-2xl border-2 dark:border-[#30363D] text-black dark:text-white nav-links w-full aspect-auto bg-white dark:bg-[#0D1116] -z-0 lg:col-span-4 md:col-span-4 col-span-2 gap-2 md:gap-4 p-4">
  <h1 class="text-center bold text-3xl lg:text-4xl" id="personal">💁‍♀️ Personal Sites 💁‍♀️</h1>
  <section class="grid max-w-screen-lg lg:grid-cols-4 md:grid-cols-4 grid-cols-2 gap-2 md:gap-4">

<!-- Personal Site [v4] -->
<a href="https://ambercaravalho.github.io/personal-site-v4/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <img loading="lazy" class="absolute object-cover object-center -z-10" style="color:transparent" src="/assets/projects/archive-v4-gif.gif" alt="Project 13">
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Personal Site [v4]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">The fourth version of my portfolio, designed in the bento box style; written in the Astro framework.</p>
  </div>
</a>

<!-- Personal Site [v3] -->
<a href="https://v3.ambercaravalho.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={archiveVersionThreeScreenshot} alt="Project 8" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Personal Site [v3]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">The third version of my portfolio, replicating the cards interface; designed in WordPress.</p>
  </div>
</a>

<!-- Personal Site [v2] -->
<a href="https://v2.ambercaravalho.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={archiveVersionTwoScreenshot} alt="Project 7" class="absolute object-cover object-center -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Personal Site [v2]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">The second version of my portfolio, designed like a *nix Bash terminal; designed in WordPress.</p>
  </div>
</a>

<!-- Personal Site [v1] -->
<a href="https://web.archive.org/web/20230513131828/https://ambercaravalho.com/" class="relative border-2 dark:border-[#30363D] text-white rounded-2xl w-full lg:h-48 md:h-48 h-40 col-span-2 overflow-hidden lg:hover:scale-[103%] transition duration-300 delay-75 ease-in-out" target="_blank" rel="noopener noreferrer">
  <div class="w-full h-full bg-[#00000077] absolute">
    <Image src={archiveVersionOneScreenshot} alt="Project 4" class="absolute object-cover object-center inset-0 m-auto h-full w-full -z-10" />
  </div>
  <div class="absolute top-5 right-5 bg-white rounded-full p-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-black" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M17 7l-10 10"></path>
      <path d="M8 7l9 0l0 9"></path>
    </svg>
  </div>
  <div class="w-full h-full absolute top-2 left-2 text-white p-4 z-10 pointer-events-none">
    <h3 class="text-white text-xl md:text-2xl lg:text-3xl font-bold">Personal Site [v1]</h3>
    <p class="text-white text-md md:text-xl lg:text-2xl">The first version of my portfolio, based on similar colorful sites; designed in WordPress.</p>
  </div>
</a>
</section>
</section>

<!-- ENDS FORMATTED SECTION -->
    </section>
	</main>
</Layout>
